/*body {
  background-color: blue;
}*/

.container-fluid {
  background-image: url("http://i.imgur.com/AMoaoW6.jpg");
  min-height: 100vh;
}
#stop {
  position: absolute;
  right: 0;
  bottom: 0;
}

#x-wing {
  display: none;
  width: 145px;
  height: 110px;
}

.sith {
  position: absolute;
  bottom: 120px;
}

#darth-maul {
  width: 128px;
  height: 128px;
}

.anakin {
  position: absolute;
  bottom: 120px;
}

#anakin{
  width: 60px;
  height: 100px;
}

.jedi {
  position: absolute;
  bottom: 0;
}

#obi-wan {
  width: 128px;  
  height: 128px;
}

.vaderdiv {
  display: none;
  position: absolute;
  bottom: 0px;
}

#vaderimg{
  width: 700px;
  height: 600px;
}

.yodadiv {
  display: none;
  position: absolute;
  bottom: 0px;
}

#yodaimg {
  width: 512px;
  height: 384px;
}








